/vendor
/node_modules
/.env
/.phpunit.cache
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.env.production
.DS_Store
Thumbs.db
