/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.env.phpunit
.DS_Store
Thumbs.db
.phpunit.result.cache
/docker/mysql/data
/docker/redis/data